@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Inter:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

.btn {
  padding: 10px 20px;
  border: 0px;
  border-radius: 9999px;
  font-weight: 600;
  color: white;
  font-size: 18px;
  margin-left: 10px;
}

.btn_green {
  background-color: hsl(171, 66%, 44%);
}
.btn_green:hover {
  box-shadow: 3px 11px 39px -16px rgba(43, 182, 160, 1);
  border: 2px solid rgb(106, 205, 190);
}

.btn_purple {
  background-color: hsl(233, 100%, 69%);
}

.btn_purple:hover {
  box-shadow: 3px 11px 39px -16px rgb(98, 96, 96);
  border: 2px solid hsl(232, 83%, 76%);
}
header {
  background: no-repeat url("images/bg-header-desktop.png");
  background-size: contain;
  padding: 150px 0;
  text-align: center;
}

.header-logo {
  margin-bottom: 50px;
}

.banner_heading {
  margin-bottom: 15px;
  opacity: 70%;
  font-size: 35px;
}

.banner_text {
  color: rgb(76, 84, 93);
  margin: 0 auto;
  margin-bottom: 25px;
  width: 90%;
  line-height: 25px;
  opacity: 50%;
  font-size: 18px;
}
.sub_head {
  text-align: center;
}
.subheader {
  margin-bottom: 25px;
  font-weight: 600;
  opacity: 70%;
  font-size: 30px;
}
.subheader_text {
  color: rgb(76, 84, 93);
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 5%;
  opacity: 50%;
  font-size: 18px;
}

.snippets {
  display: flex;
  margin-bottom: 6%;
}
.image_computer {
  padding-right: 8%;
  margin-left: -30px;
}

.sinppets_search {
  margin-top: 50px;
  margin-bottom: 50px;
}
.sinppets_search h1 {
  margin-bottom: 10px;
  font-weight: 600;
  opacity: 70%;
  font-size: 24px;
}
.sinppets_search p {
  line-height: 30px;
  color: rgb(76, 84, 93);
  font-weight: 400;
  opacity: 50%;
  font-size: 18px;
}
.access_clipboard {
  text-align: center;
  margin-top: 10%;
}
.access_clipboard h1 {
  margin-bottom: 25px;
  font-weight: 600;
  opacity: 70%;
  font-size: 30px;
}
.access_clipboard p {
  line-height: 30px;
  color: rgb(76, 84, 93);
  font-weight: 400;
  opacity: 50%;
  font-size: 18px;
}

.access_clipboard img {
  margin-top: 5%;
}
.superchage_workflow {
  text-align: center;
  margin-top: 5%;
}
.superchage_workflow h1 {
  margin-bottom: 24px;
  font-weight: 600;
  opacity: 70%;
  font-size: 34px;
}

.superchage_workflow p {
  line-height: 30px;
  color: rgb(76, 84, 93);
  font-weight: 400;
  opacity: 50%;
  font-size: 18px;
}
.work-flow-details {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding: 80px;
}
.work-flow-details img {
  margin-bottom: 25px;
}
.work-flow-details h3 {
  margin-bottom: 25px;
  font-weight: 600;
  opacity: 70%;
  font-size: 24px;
}
.work-flow-details p {
  line-height: 30px;
  color: rgb(76, 84, 93);
  font-weight: 400;
  opacity: 50%;
  font-size: 18px;
}
.blacklist {
  margin-top: -0.6%;
}

.sponsors {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6%;
}

.download-tab {
  padding: 150px 0;
  text-align: center;
}

.closing-cta {
  margin-bottom: 15px;
  opacity: 70%;
  font-size: 35px;
}
.closing-text {
  color: rgb(76, 84, 93);
  margin: 0 auto;
  margin-bottom: 25px;
  width: 90%;
  line-height: 25px;
  opacity: 50%;
  font-size: 18px;
}

.footer {
  padding: 30px 10% 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 2rem;
  background: rgb(227, 231, 235);
}
.footer-logo {
  height: 50px;
  width: 50px;
  align-items: center;
  margin-top: 10%;
}
.footer-content {
  line-height: 50px;
  color: rgb(26, 28, 31);
  font-weight: 400;
  opacity: 50%;
  font-size: 18px;
}
.footer-content li {
  list-style: none;
}

.footer-content a {
  text-decoration: none;
  color: rgb(26, 28, 31);
}
.footer-content a:hover {
  text-decoration: none;
  color: hsl(171, 66%, 44%);
}
.social-media {
  margin-top: 10%;
  padding-left: 100px;
}
.social-media a {
  font-size: 22px;
  font-weight: 600;
  margin-right: 17px;
  color: rgb(26, 28, 31);
}
.active:hover {
  color: hsl(171, 66%, 44%);
}

.attribution {
  text-align: center;
  padding: 25px;

  line-height: 25px;
  font-size: 18px;
  background-color: hsl(171, 68%, 81%);
}

.attribute a {
  color: hsl(233, 86%, 59%);
  text-decoration: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1422px) {
  .work-flow-details {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 70px;
    margin-top: 2%;
  }
}

@media screen and (max-width: 1360px) {
  .work-flow-details {
    padding: 30px;
    margin-top: 2%;
  }
  .sinppets_search p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1250px) {
  .snippets {
    display: block;
    justify-content: center;
    text-align: center;
    margin-bottom: 6%;
  }
  .image_computer {
    padding-right: 0;
    margin-left: 0;
    margin-bottom: 2%;
  }
  .sinppets_search {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .sinppets_search h1 {
    margin-bottom: 10px;
    font-weight: 600;
    opacity: 70%;
    font-size: 24px;
  }
  .sinppets_search p {
    line-height: 30px;
    color: rgb(76, 84, 93);
    font-weight: 400;
    opacity: 50%;
    font-size: 18px;
  }

  .work-flow-details {
    padding: 30px;
    margin-top: 2%;
  }
}

@media screen and (max-width: 1240px) {
  header {
    background: no-repeat url("images/bg-header-desktop.png");
    background-size: auto;
  }
  .work-flow-details {
    padding: 30px;
    margin-top: 2%;
  }
  .work-flow-details p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  .work-flow-details {
    padding: 30px;
    margin-top: 2%;
    display: block;
  }

  .work-flow-details p {
    font-size: 18px;
  }
  .blacklist {
    margin-top: 6%;
  }
  .plain-text-snippets {
    margin-top: 6%;
  }
  .sneak-preview {
    margin-top: 6%;
  }
}

@media screen and (max-width: 910px) {
  .access_clipboard img {
    width: 100%;
  }

  .image_computer {
    width: 90%;
  }
  .sponsors {
    display: flex;
    text-align: center;
    margin-top: 6%;
    flex-direction: column;
    gap: 74px;
    margin-bottom: 6%;
  }
  .footer {
    padding: 30px 10% 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 1rem;
    background: rgb(227, 231, 235);
  }
  .footer-content {
    font-size: 16px;
  }
  .social-media a {
    margin-right: 10px;
  }
}

@media screen and (max-width: 785px) {
  .footer {
    padding: 50px 10% 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 1rem;
    background: rgb(227, 231, 235);
  }
  .footer-content {
    font-size: 16px;
  }
}
